.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;

  position: relative;
  box-sizing: border-box;
  /* codigo nuevo apartir de aquí */
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  /* codigo modificado apartir de aquí
   */
  height: 39px;
  width: 105px;
  /* codigo nuevo apartir de aquí */
  position: relative;
  top: 30px;
  left: 30px;
}

.nav__links {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  list-style: none;
  padding: 0;
  margin-top: 30px;
  margin-right: 80px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
/* codigo borrado
.header__content {
  display: flex;
  justify-content: space-between;
}
  */

.header__title {
  font-size: 58px;
  line-height: 72px;
  font-weight: 500;
  max-width: 709px;
  letter-spacing: -1px;
  margin-top: 183px;
  margin-left: 80px;
  margin-bottom: 28px;
}
.header__title span {
  display: block;
}
/* nuevo elemento */
.header__span-accent {
  color: #2f80ed;
  font-style: italic;
  font-weight: normal;
  font-family: "Noto Serif", "Times New Roman", serif;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin-left: 80px;
}

.header__image {
  max-width: 636px;
  /* codigo nuevo apartir de aquí */
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  margin-top: auto;
  margin-left: 80px;
  margin-bottom: 40px;
  margin-right: 80px;
  box-sizing: border-box;
}
.header__paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  color: #838383;
}

.header__footer > .header__paragraph:last-child {
  margin-left: auto;
  text-align: right;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__address {
  margin: 0;
  color: #838383;
}

.recipes {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;

  position: relative;
  box-sizing: border-box;
  /* codigo nuevo apartir de aquí */
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.recipes__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin-top: 100px;
  margin-left: 80px;
  margin-bottom: 24px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin-left: 80px;
  margin-bottom: 80px;
}

.recipes__videos {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  justify-content: center;
}

.recipes__video-item {
  border: none;
}

.recipes__iframe {
  border: none;
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 215px;
}
.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 720px;
  position: relative;
  box-sizing: border-box;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #000000;
}
.reservation__title {
  margin-top: 100px;
  margin-left: auto;
  margin-bottom: 80px;
  margin-right: auto;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  margin-bottom: 120px;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 385px;
  margin-bottom: 120px;
}
.form__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}
.form__input {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 30px;
  border: #838383;
}
.form__button {
  height: 60px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  border-radius: 4px;
}
.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.form__checkbox-input {
  width: 20px;
  height: 20px;
  accent-color: #007bff;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 2px;
}
